{:cljdoc.doc/tree
 [["Intro" {:file "README.md"}]
  ["Changes" {:file "CHANGELOG.md"}]
  ["Core Concepts" {:file "doc/CONCEPTS.md"}]
  ["Processing" {:file "doc/PROCESS.md"}]
  ["Application State" {:file "doc/APPSTATE.md"}]
  ["Components" {:file "doc/COMPONENT.md"}]]}
